$cwru-blue: #0A304E;

button {
  background-color: $cwru-blue;
  border-radius: 25px;
  color: white;
  flex: 1;
  font-family: 'Titillium Web', sans-serif;
  font-size: large;
  font-weight: 500;
  height: auto;
  margin: 1rem;
  padding: 0.7rem;
  text-align: center;
  width: 50%;

  &:hover {
    background-color: #051825;
  }
}

.dim-background {
  background: #000;
  height: 100%;
  left: 0;
  opacity: 0.5;
  position: fixed;
  top: 0;
  width: 100%;
}

.renderedAccordionItems {
  width: 45%;
  max-width: 768px;
  margin: 0 auto;
  padding: 15px;
  bottom: 0%;
  position: fixed;
}

.renderedAccordionItems .mapPin {
  margin: 15px;
  padding: 15px;
  background-color: #F7F7FC;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.renderedAccordionItems .mapPinopen {
  margin: 15px;
  padding: 15px;
  background-color: #F7F7FC;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.renderedAccordionItems .mapPin .mapPin_name {
  position: relative;
  font-size: 20px;
  padding-right: 80px;
  transition: all 0.1s ease;
}

.renderedAccordionItems .mapPin .mapPin_name::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 0px;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;

  background-image: url(iconmonstr-plus-2.svg);
  background-size: 17px;
  background-position: center;
  background-repeat: no-repeat;

  transition: all 0.1s ease-out;
}

.renderedAccordionItems .mapPin .mapPin_info {
  opacity: 0;
  max-height: 0;
  overflow-y: hidden;
  transition: all 0.1s ease-out;
}

//idk how to fix this bug where the minus sign only goes to the right place for the 1st element
.renderedAccordionItems .mapPinopen .mapPin_name::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 0px;
  width: 30px;
  height: 30px;

  background-image: url(iconmonstr-minus-2.svg);
  background-size: 17px;
  background-position: center;
  background-repeat: no-repeat;

  transform: translate(-43px, -126px);

  transition: all 0.1s ease-out;
}

.renderedAccordionItems .mapPinopen .mapPin_info {
  opacity: 1;
}


@import "./ButtonModal";
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');
