$cwru-blue: #0A304E;

button {
  background-color: $cwru-blue;
  border-radius: 25px;
  color: white;
  flex: 1;
  font-family: 'Titillium Web', sans-serif;
  font-size: large;
  font-weight: 500;
  height: auto;
  margin: 1rem;
  padding: 0.7rem;
  text-align: center;
  width: 50%;

  &:hover {
    background-color: #051825;
  }
}

.dim-background {
  background: #000;
  height: 100%;
  left: 0;
  opacity: 0.5;
  position: fixed;
  top: 0;
  width: 100%;
}

@import "./ButtonModal";
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');
