.buttonContainer {
  align-items: center;
  background: white;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  left: 10%;
  padding-bottom: 1%;
  position: absolute;
  text-align: center;
  top: 25%;
  //margin-top: 4rem;
  width: 80%;

  .backButton{
    width: 20%;
  }

  @media screen and (max-width: 768px) {
    border-radius: 24px 24px 0 0;
    bottom: 0;
    left: revert;
    min-height: 40vh;
    top: revert;
    width: 100%;

    .backButton{
      width: 20%;
    }
  }
}
