.radioDiv {
  font-size: 24px;
  color: white;
  display: flex;
  align-Items: center;
  justify-content: center;
  background: #0A304E;
  overflow: hidden;

  @media screen and (max-width: 768px){
    flex-wrap: wrap;
    font-size: 15px;
  }
}

.mapPage {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

.mapScreen {
  flex: 1;
}

.radios {
  font-weight: 400;
  color: white;
  margin-right: 12px;
  margin-left: 2px;
  @media screen and (min-width: 768px){
    margin-top: -8px;
  }
  overflow: hidden;
}

.radioButton {
  display: flex;
  flex-wrap: nowrap;
  @media screen and (min-width: 768px){
    margin-top: 5px;
  }

}