
.radioDiv {
  font-size: 24px;
  color: white;
  display: flex;
  align-Items: center;
  justify-content: center;
  background: #0A304E;
}

.radios {
  font-weight: 400;
  color: white;
  margin-right: 12px;
  margin-left: 2px;
}
